        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Contact</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#page-header-->



<section class="mainContent">
    <div class="mainWrapper">
        <div class="services">
            <div class="serviceHolder">
                <div class="serviceBox" id="service-plan">
                    <div class="serviceIcon"><img src="images/icon-plan.jpg" width="129" height="134" alt="plan icon" /></div>
                    <div class="serviceCopy">
                        <h2>Plan</h2>
                        <ul class="serviceBullets">
                            <li><h3>Objectives</h3></li> 
                            <li><h3>Scope</h3></li>
                            <li><h3>Sitemap</h3></li>
                            <li><h3>Wireframes</h3></li>
                        </ul>	
                        <p>Every successful project is underpinned by a project plan. Before a pixel is created I'll help you set your objectives, understand who your audiences (customers) are, and find the best ways to reach them. </p>
                        <p>Then we'll decide on a budget, and scope out the project to deliver the best return on your investment. At this stage we'll be ready to create a sitemap and wireframes (basic page layouts).</p>
                    </div>
                </div>
                <div class="serviceArrow"><img src="images/services-arrow.png" width="960" height="30" alt="services arrow" /></div>
            </div>
            <div class="serviceHolder">
                <div class="serviceBox" id="service-design">
                  <div class="serviceIcon"><img src="images/icon-design.jpg" width="129" height="134" alt="design icon" /></div>
                    <div class="serviceCopy">
                        <h2>Design</h2>
                        <ul class="serviceBullets">
                            <li><h3>UX/UI</h3></li> 
                            <li><h3>Responsive</h3></li> 
                            <li><h3>Flat Visuals</h3></li>
                        </ul>	
                        <p>User Experience (UX) is the lasting feeling a user will have after visiting your site. There are many contributing factors to this: How easy was it to use? What was the customer journey like? Was the copy easy to understand? Was it nice to look at?</p>
                        <p>Having considered the UX, I'll then work on your User Interface (UI) - that's the beautiful design part that everbody loves! I'll work with Photoshop and Illustrator to create static visuals of your site and get them to a point where you're happy, all before I write a single line of code.</p>
                    </div>
                </div>
                <div class="serviceArrow"><img src="images/services-arrow.png" width="960" height="30" alt="services arrow" /></div>
            </div>
            <div class="serviceHolder">
                <div class="serviceBox" id="service-code">
                    <div class="serviceIcon"><img src="images/icon-code.jpg" width="129" height="134" alt="code icon" /></div>
                    <div class="serviceCopy">
                        <h2>Code</h2>
                        <ul class="serviceBullets">
                            <li><h3>HTML/CSS</h3></li> 
                            <li><h3>jQuery/Flash</h3></li>
                            <li><h3>Wordpress</h3></li>
                            <li><h3>eCommerce</h3></li>
                            <li><h3>Responsive<br/>Design</h3></li>
                        </ul>	
                        <p>When you're happy with the designs, I'll create your project using the most suitable technology. I hand-code using Responsive HTML5, CSS, jQuery, Flash (AS2&amp;3) and PHP - and pull it all together in <a href="http://www.wordpress.com" target="_blank">Wordpress</a> if you need to  manage the content of your site yourself. I'm also a big advocate of responsive design - that's catering for people viewing your site on smartphones and tablets.</p>
                        <p>You'll then be given a test link to your project, where we can make any final tweaks until you're happy for the project to go live.</p>
                    </div>
                </div>
                <div class="serviceArrow"><img src="images/services-arrow.png" width="960" height="30" alt="services arrow" /></div>
            </div>
            <div class="serviceHolder">
                <div class="serviceBox" id="service-promote">
                    <div class="serviceIcon"><img src="images/icon-promote.jpg" width="129" height="134" alt="promote icon" /></div>
                    <div class="serviceCopy">
                        <h2>Promote</h2>
                        <ul class="serviceBullets">
                            <li><h3>SEO</h3></li> 
                            <li><h3>Pay-per-click</h3></li>
                            <li><h3>Email</h3></li>
                            <li><h3>Social</h3></li>
                        </ul>	
                        <p>It's no good having a fantastic website if no one knows it's there. I'll work on your SEO to optimise your site to be as search engine-friendly as possible. I can offer advice on link-building (getting links to your site from other websites) and guide you on how to communicate with your customers on Social Media platforms like <a href="http://www.facebook.com" target="_blank">Facebook</a> and <a href="http://www.twitter.com" target="_blank">Twitter</a>.</p> 
                        <p>I can help you run a successful pay-per-click advertising campaign using <a href="http://adwords.google.co.uk">Google Adwords</a>, and I also use online tools like <a href="http://www.campaignmonitor.com" target="_blank">Campaign Monitor</a> to create targeted email campaigns that are relevant to your customers.</p>
                    </div>
                </div>
                <div class="serviceArrow"><img src="images/services-arrow.png" width="960" height="30" alt="services arrow" /></div>
            </div>
            <div class="serviceHolder">
                <div class="serviceBox" id="service-analyse">
                    <div class="serviceIcon"><img src="images/icon-analyse.jpg" width="129" height="134" alt="analyse icon" /></div>
                    <div class="serviceCopy">
                        <h2>Analyse</h2>
                        <ul class="serviceBullets">
                            <li><h3>Analytics</h3></li> 
                            <li><h3>Reporting</h3></li>
                            <li><h3>Improvements</h3></li>
                        </ul>	
                        <p>So we've created a great site and you're getting plenty of traffic, you're all done - right? Wrong. A web project should be an on-going process not a one-off event. Using tools like <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> I can monitor how your customers are interacting with your site.</p>
                        <p>You'll discover if some sections are more popular than others, or find out if people are always getting to a certain stage then leaving. How many visits from mobile devices are you getting? Are your visitors coming directly or from search engines? Over time, this information can help us to continually improve your site based on your customer's needs.</p>
                    </div>
                </div>
                <div class="serviceArrow"><img src="images/services-arrow.png" width="960" height="30" alt="services arrow" /></div>
            </div>
            <div class="serviceHolder">
                <div class="serviceBox cta" id="service-cta">
                <h2>Ready to get started?</h2>
                <p>Email me at <a href="mailto:chris@cooshtee.com">chris@cooshtee.com</a> and we'll get the ball rolling.</p>
                </div>
            </div>
        </div>            
    </div>
</section>

<section class='page-content' style=''  >
                        <section class='container'><div class='row' style='margin-bottom: 30px;'><div class='col-md-12'><div class='triggerAnimation animated' data-animate='fadeInUp' ><article class='accordion style-1'><div class='title active'><a title='Can you help me build concept of my app or website?' href='#tab-11 '>Can you help me build concept of my app or website?</a></div><div class='content'><p>At eLuminous, we believe in making software that help to improve your business. Hence we take interest in your concept, understand your business model, your competitors or reference apps and form a strategy by understanding your SWOT.</p>
<p> Our Consulting experts will then bring your idea into framework or prototype that you like. After this, developers can practically roll out your beloved project concept into reality.</p>
</div><div class='title '><a title='How can I be in touch with the developers according to my Time zone?' href='#tab-22 '>How can I be in touch with the developers according to my Time zone?</a></div><div class='content'><p>The developers are Online on Gtalk, Skype & other Instant Messengers. For big projects, we tweak our team’s timings depending on the client’s time zone to ensure the timings don’t crumple the “communication” & ofcourse our “On Time Deliveries”.</p>
</div><div class='title '><a title='How do I track the hours spent on my project?' href='#tab-33 '>How do I track the hours spent on my project?</a></div><div class='content'><p>We understand that while you outsource the work, you always want to keep an eye on the budgeting part. Based on your preferences and size of project, we choose daily status emails, Online PMS i.e. Project Management Systems or using Basecamp, Mavenlink like popular time tracking and project management tools. All staff at eLuminous is fairly acquainted with above tools so that you are always aware with latest updates.</p>
</div><div class='title '><a title='Do I have to pay full amount at a stretch?' href='#tab-44 '>Do I have to pay full amount at a stretch?</a></div><div class='content'><p>We understand that keeping everybody’s interest makes the WIN-WIN deal.</p>
<p>Payment milestones are decided based on size of the project. We work out on the payment structures depending on your project’s milestones.</p>
</div><div class='title '><a title='What mode of payments available?' href='#tab-55 '>What mode of payments available?</a></div><div class='content'><p>Our customers have the choice to pay via Bank Wire Transfer/ Bank TT, Credit Card or with your PayPal account.</p>
</div><div class='title '><a title='Will my code and Database be secure? Can you sign NDA?' href='#tab-66 '>Will my code and Database be secure? Can you sign NDA?</a></div><div class='content'><p>eLuminous has handled a large variety of sensitive information including millions of CC numbers, emails and details of your customers as well. At eLuminous, our business is based on strong ethical foundation and we take decisions based on highest level of ethical integrity and our Core Values. We welcome signing NDA (Non-Disclosure Agreement) as needed.</p>
</div><div class='title '><a title=' What if I face after delivery bugs?' href='#tab-77 '> What if I face after delivery bugs?</a></div><div class='content'><p>We provide 30 days FREE service from beta delivery of your application. Hence you can relax as even if any bugs arises, it won’t eat your pocket.</p>
</div></article></div></div></div><div class='row buttons-presentation faq-btn' style=''><div class='col-md-12'><div class='triggerAnimation animated' data-animate='fadeInUp' ><a href='http://eluminoustechnologies.com/free-quote/' class='btn-medium filled aqua' 0><i class='icon-list-alt'></i> Click to Get A Free Quote</a></div></div></div></section></section>
-#==================================================
-# Slider Section Start
-#================================================== 
%section#about
  .container
    .row
      .col-md-6.col-sm-6
        .block.wow.fadeInLeft{ "data-wow-delay": ".3s", "data-wow-duration": "500ms"}
          %h2 The types of websites and online business systems include:
          %ul
            %li Start up or established brochure style business website
            %li.text-right Personal and business websites
            %li Classified Ads System
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".7s", "data-wow-duration": "100ms"} 
              Job Board Site
            %li.wow.fadeInUp{ "data-wow-delay": ".8s", "data-wow-duration": "100ms"} 
              E-commerce online store
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".9s", "data-wow-duration": "100ms"} 
              Membership site
            %li.wow.fadeInUp{ "data-wow-delay": ".10s", "data-wow-duration": "200ms"}
              Bulletin Board Software
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".10s", "data-wow-duration": "300ms"} 
              Directory software like yellow pages
            %li.wow.fadeInUp{ "data-wow-delay": ".10s", "data-wow-duration": "400ms"} 
              Auction site
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".10s", "data-wow-duration": "500ms"} 
              Customer Relationship Management Software
            %li.wow.fadeInUp{ "data-wow-delay": ".11s", "data-wow-duration": "600ms"} 
              Live help chat software
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".11s", "data-wow-duration": "700ms"} 
              Online Customer support desk
            %li.wow.fadeInUp{ "data-wow-delay": ".11s", "data-wow-duration": "800ms"} 
              Online calendar booking system
            %li.text-right.wow.fadeInUp{ "data-wow-delay": ".11s", "data-wow-duration": "900ms"} 
              Project management system
            %li.wow.fadeInUp{ "data-wow-delay": ".11s", "data-wow-duration": "900ms"} 
              Email marketing software

          %p.wow.fadeInUp{ "data-wow-delay": ".7s", "data-wow-duration": "500ms"}
            It is possible to combine many of the above onto one hosted domain, giving you great power and variety, all online accessible wherever you have an internet connection.

      .col-md-6.col-sm-6
        .block.wow.fadeInRight{ "data-wow-delay": ".3s", "data-wow-duration": "500ms"}
          = image_tag("about/about.jpg", alt: "")